{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>easy2math</title>
        <link href="{% static 'css/header.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/body.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/boostrap/dist/boostrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    </head>


    <body>
        <header class="topicv">
            <a href='/' id="logo">easy2math</a>
            <div class="sr">
                <a class="top" href="books/">Книги</a>
                <a class="this" href="tasks/">Задачи</a>
                <a class="top" href="lessons/">Уроки</a>
            </div>
                <hr id="hr">
            </header>
            {% for und in undo %}
                <div class='tasks'>
                    <span class="task">{{ und.task }}</span>"
                    <p id="lev">{{ und.level }}</p>
                    <p id="ans">{{ und.answer }}</p>
                </div>
    </body> {% endfor %}

</html>
